<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEvents"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIuMNKp_aa_Jtnkgjh6go3QH-xtgAJcVI" />

        <activity
            android:name=".OTPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ApprovalActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DeclineActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentFailedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentSuccessfulActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EventDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
